<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سبد خرید</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container my-5">
        <h1 class="text-center mb-4">سبد خرید شما</h1>
        
        <table class="table table-striped table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>محصول</th>
                    <th>تعداد</th>
                    <th>قیمت واحد (تومان)</th>
                    <th>قیمت کل (تومان)</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.count }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.total_price }}</td>
                    <td>
                        <a href="{% url 'remove_from_cart' item.id %}" class="btn btn-danger btn-sm">حذف</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-end">
            <h3 class="fw-bold">مجموع کل: <span class="text-success">{{ total_price }}</span> تومان</h3>
        </div>
    </div>

  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
